<dialog-template title="{{header}}" add-class="store-dialog">
    <form id="storeFormDialog">
        <div class="data-row">
            <input type="file" class="form-control" />
        </div>
        <div class="box-footer">
            <md-progress-linear md-mode="indeterminate" ng-show="savingFlag"></md-progress-linear>
            <button type="button" class="btn" ng-click="cancel();">Cancel</button>
            <button type="submit" class="btn btn-success" ng-click="loadExcelFile($event);">Save</button>
        </div>
    </form>
</dialog-template>