<dialog-template title="{{header}}" add-class="album-dialog">
    <form id="albumFormDialog" name="albumFormDialog">
        <div class="row-data">
            <label>Album Name :</label>
            <input type="text" class="form-control" required pattern="[a-zA-Z0-9\s]+" ng-model="album.name">
        </div>
        <div class="box-footer">
            <button class="btn btn-danger" ng-click="delete($event);" ng-if="isEdit">Delete this album</button>
            <button class="btn btn-primary" ng-click="save(albumFormDialog.$valid, $event);">Save</button>
        </div>
    </form>
</dialog-template>